@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215.17 22.14% 25.69%;
    --muted: 0 0% 96.08%;
    --muted-foreground: 215.17 22.14% 25.69%;
    --popover: 0 0% 100%;
    --popover-foreground: 187.5 80% 1.96%;
    --card: 0 0% 100%;
    --card-foreground: 342 59% 0%;
    --border: 342 8% 90%;
    --input: 342 8% 90%;
    --primary: 358.18 98.8% 67.25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215.17 22.14% 25.69%;
    --secondary-foreground: 0 0% 100%;
    --accent: 215.17 22.14% 25.69%;
    --accent-foreground: 222 93% 98%;
    --destructive: 8.96 90.54% 29.02%;
    --destructive-foreground: 0 0% 100%;
    --ring: 215.17 22.14% 25.69%;
    --chart-1: 358.18 98.8% 67.25%;
    --chart-2: 215.17 22.14% 25.69%;
    --chart-3: 219.64 98.8% 67.25%;
    --chart-4: 332.5 41.38% 65.88%;
    --chart-5: 190.63 39.67% 52.55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 342 41% 0%;
    --foreground: 0 0% 100%;
    --muted: 215.17 22.14% 25.69%;
    --muted-foreground: 0 0% 96.08%;
    --popover: 190 60% 3.92%;
    --popover-foreground: 0 0% 100%;
    --card: 190 60% 3.92%;
    --card-foreground: 0 0% 100%;
    --border: 197.14 13.73% 10%;
    --input: 0 0% 46.27%;
    --primary: 358.18 98.8% 67.25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215.17 22.14% 25.69%;
    --secondary-foreground: 0 0% 100%;
    --accent: 358.18 98.8% 67.25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 9.01 90.64% 46.08%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 100%;
    --chart-1: 358.18 98.8% 67.25%;
    --chart-2: 215.17 22.14% 25.69%;
    --chart-3: 219.64 98.8% 67.25%;
    --chart-4: 332.5 41.38% 65.88%;
    --chart-5: 190.63 39.67% 52.55%;
  }
}






@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
